*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    direction:rtl;
}

a{
    text-decoration: none;
}
i{
    margin-left: 10px;
}
img{
    width: 17px;
    height: 16px;
}

hr{
    border: 1px solid rgb(87, 84, 84);
    margin-bottom: 10px;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header{
    height: auto;
    width: 100%;
    border: 1px solid rgb(170, 170, 170);
    background-color: rgb(241, 241, 241);
    
}
.header{
    display: flex;
    position: absolute;
    top: 0;
    left: 100%;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;
    height: 100vh;
    transition: left 1s ease-in-out;
    background-color: rgb(226, 226, 226);
    padding: 20px;
}

.header.active{
    left: 0;
}

.header .menus{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.header .menus li{
    font-size: 17px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(87, 85, 85);
    width: 70%;
}

.header .menus img{
    margin-left: 10px;
}

.header .header-c{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.header .header-c option{
    border-bottom: 1px solid rgb(170, 170, 170);
}

.header :where(.header-c, .button){
    border-bottom: 1px solid rgb(87, 85, 85);
}

.header .button{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.header .button img{
    margin-right: 10px;
}

.hamburger{
    height: 50px;
    width: 50px;
    display: flex;
    border: 3px solid black;
    position: relative;
    z-index: 100;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(.8);
    margin: 8px 20px;
}

.hamburger .bar{
    height: 2.7px;
    width: 30px;
    position: relative;
    background-color: black;
    z-index: -1;
}

.hamburger .bar::after,
.hamburger .bar::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: .3s ease;
    transition-property: top bottom;
}

.hamburger .bar::after{
    top: 8px;
}

.hamburger .bar::before{
    bottom: 8px;
}


/* Start Footer Section */
.footer{
    background-color: rgb(36, 35, 35);
}
.footer .footer-items{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
}

.footer .footer-top{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
}

.footer .footer-top .item{
    margin: 20px;
}

.footer .footer-top .item form{
    width: 100%;
    background-color: rgb(83, 82, 82);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    border-radius: 5px;
}

.footer .footer-top .item :where(input, button){
    padding: 8px;
    border-radius: 6px;
    border: 1px solid white;
    margin: 3px;
    width: 100%;
}

.footer .footer-top .item button{
    width: 25%;
}

.footer .footer-top .item :where(h1, p){
    color: rgb(128, 126, 126);
    margin-bottom: 10px;
}

.footer .footer-top .item h3{
    color: white;
}

.footer .bottom{
    width: 70%;
}
.footer .bottom h1{
    color: rgb(128, 126, 126);
}

.footer .bottom img{
    width: 15%;
    height: 60px;
}

.copyright{
    background-color: #CCC;
    min-height: 50vh;
}

.copyright .items{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
    padding: 20px; 
}

.copyright .items .col-md-lift{
    width: 100%;
    display: flex;
}

.copyright .items .col-md-lift img{
    width: 12%;
    height: 43px;
    margin-right: 10px;
}

/* End Footer Section */

@media(min-width:768px){
    .hamburger{
        display: none;
    }
    .header{
        position: initial;
        display: flex;
        height: auto;
        width: 100%;
        flex-direction: row;
        padding: 0;
        align-items: center;
        margin-bottom: 20%;
    }
    .header .menus{
        display: table;
        width: 70%;
    }
    .header .menus li{
        padding: 12px;
        display: table-cell;
        border-left: 1px solid rgb(170, 170, 170);
        text-align: center;
        width: auto;
        border-bottom: 0;
        margin-bottom: auto;
    }
    .header .header-c{
        border-left: 1px solid rgb(170, 170, 170);
        padding: 12px;
        width: 12%;
    }
    .header .button{
        width: 10%;
        justify-content: center;
        align-items: center;
    }
    .header :where(.header-c, .button){
        border-bottom: 0;
    }

    /* End Header Section */

    /* Start Footer Section */

    .footer{
        min-height: 62vh;
    }

    .footer .footer-items{
        padding: 10px;
    }

    .footer .footer-top{
        flex-direction: row;
        width: 100%;
    }

    .footer .footer-top .item{
        margin: 10px;
    }

    .footer .bottom{
        width: 25%;
    }

    /* End Footer Section */
    /* Start CopyRight Section */

    .copyright{
        min-height: 26vh;
    }

    .copyright .items{
        flex-direction: row;
        height: 10vh;
    }

    .copyright .items .col-md-lift{
        width: 90%;
    }
    .copyright .items .col-md-right{
        width: 90%;
    }

    /* End CopyRight Section */
}